*
{
box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flex_it{
    display: none;
}
.topnav-right{
    text-align: right;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}

.topnav-right a {
    color: #f2f2f2;
    margin: 0px 10px;
    
  
}

.topnav {
    background-color: teal;
    overflow: hidden;
    margin-bottom: 100px;
}

/* Style the links inside the navigation bar */
.topnav>a {
  float: left;
  margin-left: 64px;
  font-weight: bold;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}





.projects
{
    display: flex;
    justify-content: space-between;
}

.project
{
    flex: 1;

}

.project:nth-of-type(1)
{
    
    padding-left: 80px;
    padding-right: 50px;
    
}

.project:nth-of-type(2)
{
    
    margin-left: auto;
    margin-right: auto;
    
}
.orient a {
    color: rgb(158, 212, 212);
    margin: 10px;
}

.orient p:nth-of-type(1), .orient p:nth-of-type(2){
    font-size: 30px;
}

.orient p:nth-of-type(3) {

    font-size: 10px;


}
.orient p:nth-of-type(2)
{
    font-weight: bold;
}
a
{
    text-decoration: none;
}
.orient{
    text-align: center;
}
.super
{
    background-color:rgb(6, 104, 107);
    display : flex;
    color: white;
    justify-content: center;
    
}



.project h1{
    color: teal;
}

.project p{
    font-size: 30px;
}

.new_section
{
    margin-top: 30px;
    background-color:lavender;
    padding-top: 50px;
    padding-bottom: 50px;
}

img
{
    border-radius: 20px;
}

.left
{
    float: left;
    margin-left: 80px;
    color: teal
}

.right{
    float: right;
    background-color: teal;
    padding: 20px;
    box-shadow: 5px 5px 10px grey;
    margin-right: 80px;
    color: white;
    border-radius: 10px;
    
}

.clear{
    clear: both;
    margin-top: 180px;
}

.img_display
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    row-gap: 50px;
}
/*
.img_display{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
*/


.new1{
    background-color: teal;
}

.pic_right{
    
  float: right;
  margin-right: 80px;
  width: 200px;
  height: 50px;
  overflow: hidden;
  }

  .pic_right img{
      position: relative;
      bottom: 15px;
      
  }


.clear_it{
    clear: right;
    
}

.clear_it p:nth-of-type(1){
    float: right;
    color: white;
    background-color: rgb(7, 51, 51);
    margin-right: 80px;
    padding: 10px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;

}
.clear_it p:nth-of-type(3), .pic_left
{
margin-left: 80px;

}

.pic_left{
    width: 200px;
    height: 50px;
    overflow: hidden;
}

.pic_left img{
    position: relative;
      bottom: -15px;
}

.clear_it p:nth-of-type(3){
    width: 40%;
    font-size: 35px;
}
.clear_it p:nth-of-type(2){
    float: right;
    color: teal;
    padding: 10px;
    margin-right: 15px;
    border-radius: 10px;
   background-color: white;
   box-shadow: 5px 5px 10px grey;
}


.clear_it p:nth-of-type(3){
    
    color: white;
}

label,input {
    display: none;
}
@media screen  and (max-width: 767px)
{

    .clear_it p:nth-of-type(2), .clear_it p:nth-of-type(1)
    {
        display: none;

    }

    .flex_it p:nth-of-type(1){
        
        color: white;
        background-color: rgb(7, 51, 51);
        margin-right: 80px;
        padding: 10px;
        box-shadow: 5px 5px 10px grey;
        border-radius: 10px;
    
    }
    

    .clear_it p:nth-of-type(3)
    {
        width:90%;
        margin:auto;
    }

  
    .flex_it p:nth-of-type(2){
        
        color: teal;
        padding: 10px;
        margin-right: 15px;
        border-radius: 10px;
       background-color: white;
       box-shadow: 5px 5px 10px grey;
    }
    
    .flex_it{
        padding-top: 40px;
        display: flex;
        width: 90%;
        margin: auto;
    }
    .flex_it p {
        width:30%;
    }
    .pic_left > img, .pic_right>img{
        display: none;
    }

    .projects
{
display: grid;

gap: 20px;
}
input{
    display: inline-block;
    
}
label {
    float: right;
    display:flex;
    justify-content: end;
    margin-right: 10px;
    font-weight: bold;
    padding: 14px 16px;
    
    color: white;
}

input {
    display: none;
}
.topnav-right a{
    display: none;
    
    
}
    

input:checked+div a{
    clear: right;    
    display: block;
    border-bottom: 1px solid white;
    border-bottom-width: 5px;

}
.img_display {
    display: grid;
    grid-template-columns: 100%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}
.settled>img{
    object-fit: cover;
    width: 100%;


  
     
}
#img>img{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}
.left{
    width: 90%;
    float: none;
    margin: auto;
    color: teal
}

.right{
    float: none;
    background-color: teal;
    padding: 20px;
    box-shadow: 5px 5px 10px grey;
    width: 30%;
    color: white;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 5%;
}

.project:nth-of-type(1)
{
    width: 90%;
    margin: auto;
    
    padding-left: 0px;
    padding-right: 0px;
    
}


.topnav>a {
    
    margin-left: 5%;
    
    padding: 14px 0px;
    
  }
  


}


@media screen  and (min-width: 768px) and (max-width: 1023px)

{
    .topnav>a {
    
        margin-left: 5%;
        
        padding: 14px 0px;
        
      }
    
  .img_display
  {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-around;
      margin-left: 5%;
      margin-right: 5%;
      row-gap: 50px;
  }
  
  .left
{
    float: left;
    margin-left: 5%;
    color: teal;
    width: 50%;
}

.right{
    float: right;
    background-color: teal;
    padding: 20px;
    box-shadow: 5px 5px 10px grey;
    margin-right: 5%;
    color: white;
    border-radius: 10px;
    
}

.project:nth-of-type(1)
{
    width: 45%;
    margin-left: 5%;
    
    padding-left: 0px;
    padding-right: 0px;
    
}

.project:nth-of-type(2)
{
    
    margin-left: auto;
    margin-right: auto;
    
}

#img>img{
    width: 100%;
    
    height: 100%;

    
}


.project:nth-of-type(2)
{
    width: 50%;
    margin: auto;
    
}


}

/*
.project:nth-child(2)
{
    justify-content: center;
}
*/